<div class="container">
    <form action="">
        <p class="title">PASSWORD TEST</p>
        <label class="passwordLabel" for="password">Entre your password: </label><br/>
        <div class="password-field">
            <input type="password"
                [type]="showPassword ? 'text' : 'password'" 
                name="password" 
                class="passwordField" 
                placeholder="password" 
                [(ngModel)]="password" 
                (ngModelChange)="test()"/>
            <button (click)="togglePasswordVisibility()">
                <div class="img-container">
                    <img [src]="showPassword ? 'assets/invisible.png' : 'assets/visible.png'" class="image"/>
                </div>
            </button>
        </div>
        <p class="result" [ngStyle]="{'background-color':color,'color':'white'}">{{output}}</p>
        <button (click)="generatePassword()" class="generate-button styled-button">Generate Password</button>
        <button (click)="oncrack()"  class="generate-button styled-button">try to crack</button>
        <p class="crack-result">{{crackResult}}</p>
    </form>
</div>